[run]
include =
  bakery/__init__.py
  bakery/models.py
  bakery/static_urls.py
  bakery/static_views.py
  bakery/views.py
  bakery/management/__init__.py
  bakery/management/commands/__init__.py
  bakery/management/commands/build.py
  bakery/management/commands/buildserver.py
  bakery/management/commands/publish.py
  bakery/management/commands/unbuid.py
  bakery/management/commands/unpublish.py

[report]
exclude_lines =
    pragma: no cover

