[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
celery = "*"
"boto3" = "*"
fs = "*"

[dev-packages]
django = "==5.1.*"
Sphinx = "*"
"flake8" = "*"
twine = "*"
moto = {extras = ["all", "ec2", "s3"], version = "*"}
setuptools-scm = "*"
sphinx-autobuild = "*"
myst-parser = "*"
sphinx-palewire-theme = "*"

[requires]
python_version = "3.12"
