Django==1.6.1
Jinja2==2.7.2
MarkupSafe==0.19
PyYAML==3.10
Pygments==1.6
Sphinx==1.2.2
amqp==1.4.5
anyjson==0.3.3
argh==0.23.3
argparse==1.2.1
billiard==3.3.0.17
boto==2.28.0
celery==3.1.12
coverage==3.7.1
docutils==0.11
kombu==3.0.19
livereload==2.0.0
pathtools==0.1.2
pep8==1.4.6
py==1.4.20
pyflakes==0.7.3
python-coveralls==2.4.2
pytz==2014.4
requests==2.2.1
sh==1.09
six==1.5.2
sphinx-autobuild==0.2.3
tornado==3.1.1
tox==1.7.0
virtualenv==1.11.2
watchdog==0.6.0
